name: Build and Push Image to DockerHub

on:
  push:
    branches:
      - main

jobs:
  docker_build:
    name: Build & Push Services to DockerHub
    environment: argocd-demo
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      RUN_TAG: ${{ github.run_number }}

    steps:
      - name: Check out code
        uses: actions/checkout@v3 

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Auxiliary Service (aux-service)
        run: |
          AUX_IMAGE=${{ env.DOCKER_USER }}/aux-service
          
  
          docker build . --file auxiliary-service/Dockerfile -t ${AUX_IMAGE}:latest -t ${AUX_IMAGE}:${{ env.RUN_TAG }}
          
          # Push both tags
          docker push ${AUX_IMAGE}:latest
          docker push ${AUX_IMAGE}:${{ env.RUN_TAG }}

      - name: Build and Push Main API Service (main-service)
        run: |
          MAIN_IMAGE=${{ env.DOCKER_USER }}/main-service

          docker build . --file main-api/Dockerfile -t ${MAIN_IMAGE}:latest -t ${MAIN_IMAGE}:${{ env.RUN_TAG }}
          
          # Push both tags
          docker push ${MAIN_IMAGE}:latest
          docker push ${MAIN_IMAGE}:${{ env.RUN_TAG }}

      